os:
  - linux

language: scala

sudo: true

scala:
  - 2.11.8

jdk:
  - oraclejdk8
  
before_install:
  - sudo apt-get -qq install lib32stdc++6

install:
  - ./.ci/install_z3.sh

env:
  - PATH="$HOME/z3/z3-4.4.1-x64-ubuntu-14.04/bin/:$PATH"

script:
  - sbt ++$TRAVIS_SCALA_VERSION test

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot
    - $HOME/.isabelle
    - $HOME/z3
before_cache:
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
  - find $HOME/.sbt -name "*.lock" -delete

notifications:
  slack: psync-lang:gUkjeIO7m3ghZm8cDlv5hXcK
